{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Board of Directors</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Board of Directors</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- service-details -->
    <section class="service-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="service-sidebar-content">
                        <div class="sidebar-categories wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="width: 350px;height: 344px; overflow: hidden;" >
                            
                            <div class="sidebar-title"><h4>Our Services</h4></div>
                            {% for i in g_service_s %}
                                <ul class="categories-list">
                                    <li><a href="manned-guarding.html">{{ i.title }}</a></li>
                                </ul>
                            {% endfor %}
                                
                            
                        </div>
                        
                            <div class="sidebar-call centred wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon-box"><i class="flaticon-telephone"></i></div>
                                <div class="text">Got any Questions?<br />CALL US NOW</div>
                                {% for i in g_contact %}<h3 class="phone"><a href="tel:0800-546-432">{{ i.phone }}</a></h3>{% endfor %}
                                <div class="email"><a href="mailto:support@example.com">support@example.com</a></div>
                                <div class="link"><a href="#">Get Free Estimate</a></div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="service-details-content">
                    {% for i in board_of_directors %}
                       
                        <div class="content-style-two">
                            
                            <div class="inner-content">
                                <div class="row">
                                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                                        <figure class="image-box"><img  style="width: 370px; height: 337px; " src="{{ i.image.url }}" alt=""></figure>
                                    </div>
                                    <div style="height: 330px; overflow: hidden; margin-top: 5px; " class="col-lg-6 col-md-12 col-sm-12 text-column">
                                        <div class="text">
                                            <p>{{ i.first_part }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text">{{ i.secend_part }}</div>
                        </div>
                    {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- service-details end -->

    {% endblock content %}


   


