{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Certifieate Verifications </h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Certifieate Verifications </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <section class="news-section our-blog">
        <div class="container"  style="background-color: darkgrey;">
           <h1 style="text-align: center;">Certifieate Verifications </h1>
           <div style="width: 960px; height: auto; margin-left: 100px; " >
            <div class="newsletter-form" >
                <form action="pass" method="post">
                    <div class="form-group"  style="text-align: center;  margin-top: 50px; color: brown;"  >
                        <input type="Certifieate Verifications" name="Certifieate Verifications" placeholder="Certifieate Verifications" required="">
                        <button type="submit"><i class="fas fa-paper-plane"></i></button>
                    </div>
                </form>
            </div>
           </div>
        </div>

    </section>

    
{% endblock content %}