{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Contract Signing</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Contract Signing</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <section class="news-section our-blog">
        <div class="container">
            <h1 style="text-align: center;" >Contract Signing</h1>
            <div class="row">
                {% for i in contract_signing %}
                <div class="col-lg-4 col-md-4 col-sm-12 my-4  ">
                    <div class="card" style="width: 18rem;">
                        <img style="width:370px ; height:260px;" src="{{ i.image.url }}" class="card-img-top" alt="...">
                        <div class="card-body">
                        <p style="width:250px ; height:27px;" class="card-text">{{ i.company_name }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>

    </section>

    
{% endblock content %}