{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">CSR</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>CSR</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- news-section -->
    <section class="news-section our-blog">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 my-4 mx-auto news-column">
                    <div class="card" style="width: 22rem;">
                        <img src="{% static 'security_app/images/brand/brand-4.png' %}" style="width: 350px; height: 350px; " class="card-img-top" alt="...">
                        <div class="card-body">
                         
                          <p class="card-text" style="width: 310px; height: 78px; " > text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Read More</a>
                        </div>
                      </div>
                </div>
            </div>
           
        </div>
    </section>
    <!-- news-section end -->



 {% endblock content %}  