{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">CSR</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>CSR</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- CSR-section -->
    <section class="news-section our-blog">
        <div class="container">
            <div class="row"> 
                {% for i in csr_add_page %}
                <div class="col-lg-4 col-md-6 col-sm-12 news-column">
                    <div class="news-block-one overlay-box wow fadeInUp" data-wow-delay="0ms">
                        <figure class="image-box">
                            <img src="{{ i.image.url }}"  style="width: 36opx; height: 273px; " alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="{% url 'csr_details-page' i.pk %}"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                    
                            </div>
                        </figure>
                        <div class="lower-content">
                            <ul class="post-meta" style="width: 289px; height: 27.5px; margin-top: 5px; " >
                                <li><i class="far fa-folder-open"></i>Delta-One</li>
                                <li><i class="far fa-calendar-alt"></i>{{ i.csr_date }}</li>
                                
                            </ul>
                            <div style="width: 285px; height: 78px; overflow: hidden; " class="text">{{ i.csr_details|safe }}</div>
                            <div class="link"><a href="{% url 'csr_details-page' i.pk %}">Read More</a></div>
                        </div>
                    </div>
                  </div> 
                {% endfor %}
            </div>
           
        </div>
    </section>
    <!-- CSR-section end -->



 {% endblock content %}  