{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Company History </h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Company History</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- service-details -->
    <section class="service-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="service-sidebar-content">
                        <div class="sidebar-categories wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="width: 350px;height: 344px; overflow: hidden;" >
                            
                            <div class="sidebar-title"><h4>Our Services</h4></div>
                            {% for i in g_service_s %}
                                <ul class="categories-list">
                                    <li><a href="manned-guarding.html">{{ i.title }}</a></li>
                                </ul>
                            {% endfor %}
                                
                            
                        </div>
                        
                            <div class="sidebar-call centred wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon-box"><i class="flaticon-telephone"></i></div>
                                <div class="text">Got any Questions?<br />CALL US NOW</div>
                                {% for i in g_contact %}
                                <h3 class="phone"><a href="{{ i.phone }}">{{ i.phone }}</a></h3>
                                <div class="email"><a href="{{ i.email }}">{{ i.email }}</a></div>
                                {% endfor %}
                                <div class="link"><a href="#">Get Free Estimate</a></div>
                            </div>
                        
                    </div>
                </div>
                
                {% for i in history %}
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="service-details-content">
                        <div class="content-style-one">
                            <h2 class="title">Our Inception</h2>
                            <div class="text">
                                <p>{{ i.first_part| safe }}</p>
                            </div>
                            <figure class="image-box"><img src="{{ i.image.url }}" alt=""></figure>
                            <div class="text">
                                <p>{{ i.secend_part| safe }}</p>
                            </div>
                        </div>
                       
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- service-details end -->


    {% endblock content %}


   


