{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Management Term</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Management Term</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- management term -->
    <section class="service-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 sidebar-side">
                    <div class="service-sidebar-content">
                        <div class="sidebar-categories wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms" style="width: 350px;height: 344px; overflow: hidden;" >
                            
                            <div class="sidebar-title"><h4>Our Services</h4></div>
                            {% for i in g_service_s %}
                                <ul class="categories-list">
                                    <li><a href="manned-guarding.html">{{ i.title }}</a></li>
                                </ul>
                            {% endfor %}
                                
                            
                        </div>
                        
                            <div class="sidebar-call centred wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
                                <div class="icon-box"><i class="flaticon-telephone"></i></div>
                                <div class="text">Got any Questions?<br />CALL US NOW</div>
                                {% for i in g_contact %}
                                <h3 class="phone"><a href="{{ i.phone }}">{{ i.phone }}</a></h3>
                                <div class="email"><a href="{{ i.email }}">{{ i.email }}</a></div>
                                {% endfor %}
                                <div class="link"><a href="#">Get Free Estimate</a></div>
                            </div>
                        
                    </div>
                </div>
                <div class="col-lg-8 col-md-12 col-sm-12 content-side">
                    <div class="container">
                            <div class="row">
                                {% for i in management_term %}
                                <div class="col-lg-6 col-md-12 col-sm-12 content-side">
                                    <div class="container">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 my-4 mx-auto">
                                                    <div class="card" style="width: 20rem;">
                                                        <img style="width: 318px;height: 238px; overflow: hidden; "  src="{{ i.image.url }}" class="card-img-top" alt="...">
                                                        <div class="card-body">
                                                            <h3 style="width: 278px;height: 30px; overflow: hidden; " >{{ i.name }}</h3>
                                                            <h5 style="width: 278px;height: 30px; overflow: hidden; ">{{ i.position }}</h5>
                                                        <p style="width: 278px;height: 52px; overflow: hidden; " class="card-text">{{ i.profile_details }}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <!-- management term end -->

    {% endblock content %}


   


