
{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Management Term</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Management Term</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- service-section -->
    <section class="service-style-two service-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-7.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                    
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Crowd Management</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-8.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Private Guards</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-9.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Construction Sites</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-4.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                    
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Key Holdings</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-5.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">CCTV & Alarm</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-6.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Static Security</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->
    {% endblock content %}  