{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">News-section</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>News-section</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- news-section -->
    <section class="news-section our-blog">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-12 news-column mx-auto ">
              <div class="news-block-one overlay-box wow fadeInUp" data-wow-delay="0ms">
                  <figure class="image-box">
                      <img src="{% static 'security_app/images/brand/brand-4.png' %}"  style="width: 36opx; height: 273px; " alt="">
                      <div class="overlay">
                          <div class="wrapper">
                              <ul class="list">
                                  <li><a href="blog-details.html"><i class="fa fa-link"></i></a></li>
                              </ul>
                          </div>                                    
                      </div>
                  </figure>
                  <div class="lower-content">
                      <h3 style="width: 289px; height: 56px;" ><a href="blog-details.html">How to Quickly Respond to Stop Attacks</a></h3>
                      <ul class="post-meta" style="width: 289px; height: 27.5px; margin-top: 5px; " >
                          <li><i class="far fa-folder-open"></i>Delta-One</li>
                          <li><i class="far fa-calendar-alt"></i>26 Mar</li>
                          
                      </ul>
                      <div class="text"  style='width: 289px; height: 78px;' >Pleasure of the moment blinded desire that they cannot forese trouble ths pain bound to ensue equal blame.</div>
                      <div class="link"><a href="{% url 'blog_details-page' %}">Read More</a></div>
                  </div>
              </div>
            </div>
          </div>
            
        </div>
    </section>
    <!-- news-section end -->

 {% endblock content %}  