{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Our Clicnts</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Our Clicnts</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <section class="news-section our-blog">
        <div class="container">
        <h1 style="text-align: center;" class="title">Our Clicnts</h1>

            <div class="row">
                {% for i in brand_section_add %}
                    <div class="col-lg-2 col-md-4 col-sm-12 my-4  ">
                        <div class="card" style="width: 12rem;">
                            <img style="width:190px ; height:142px;" src="{{ i.logo.url }}" class="card-img-top" alt="...">
                            <div class="card-body">
                            <p style="width:150px ; height:27px;" class="card-text">{{ i.Company_Name }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

    
{% endblock content %}