{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}

     <!-- page-title -->
     {% for i in g_Other_Page_Image %}
     <section class="page-title" style="background-image: url({{i.image.url}});">
     {% endfor %}
        <div class="container">
            <div class="content-box">
                <h1 class="title">Photo Gallery</h1>
                <ul class="bread-crumb">
                    <li><a href="{% url 'index-page' %}">Home</a></li>
                    <li>Photo Gallery</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <section class="news-section our-blog">
        <div class="container">
            <div class="row">
                
                {% for i in photo_gallery %}
                <div class="col-lg-4 col-md-6 col-sm-12 my-4">
                    <div class="card" style="width: 18rem;">
                        <img src="{{ i.image.url }}" class="card-img-top" alt="..." style="height: 215px; width: 286px; overflow: hidden; " >
                        <div class="card-body" >
                        <p class="card-text" style="width: 246px; height: 78px; overflow: hidden; " > {{ i.details }}</p>
                        </div>
                    </div>
                </div>   
                {% endfor %}
                    
                
            </div>
        </div>

    </section>

    
{% endblock content %}