
{% extends 'security_app/base.html' %}

{% load static %}
{% block content %}



   

    <!-- page-title -->              
    <section class="page-title" style="background-image: url({{i.image.url}});">
        <div class="container">
            <div class="content-box">
                <h1 class="title">Service Style 01</h1>
                <ul class="bread-crumb">
                    <li><a href="index.html">Home</a></li>
                    <li>Services</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- page-title end -->


    <!-- service-section -->
    <section class="service-style-two service-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-7.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                    
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Crowd Management</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-8.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Private Guards</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-9.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Construction Sites</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-4.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                    
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Key Holdings</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-5.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">CCTV & Alarm</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-column">
                    <div class="service-block-one overlay-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms">
                        <figure class="image-box">
                            <img src="images/resource/service-6.jpg" alt="">
                            <div class="overlay">
                                <div class="wrapper">
                                    <ul class="list">
                                        <li><a href="manned-guarding.html"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>                                   
                            </div>
                        </figure>
                        <div class="lower-content">
                            <h3><a href="manned-guarding.html">Static Security</a></h3>
                            <div class="text">Pleasure of the moment blinded desire that they cannot forese trouble ths pain  bound to ensue equal blame.</div>
                            <div class="link"><a href="manned-guarding.html" class="btn-style-two">More Details</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- service-section end -->
    

    <!-- our-protection -->
    <section class="our-protection sec-pad gray-bg">
        <div class="container">
            <div class="title-box centred">
                <div class="sec-title"><h2>top level protection</h2></div>
                <div class="title-text">Strategies ensure proactive domination</div>
            </div>
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 left-column">
                        <div class="single-item wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box"><i class="flaticon-security-code"></i></div>
                            <h4><a href="#">Electronic Systems</a></h4>
                            <div class="text">Integrated security solutions always holds this principle of selection guards</div>
                        </div>
                        <div class="single-item wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="1800ms">
                            <div class="icon-box"><i class="flaticon-shield"></i></div>
                            <h4><a href="#">Outstanding Team work</a></h4>
                            <div class="text">Integrated security solutions always holds this principle of selection guards</div>
                        </div>
                        <div class="single-item wow fadeInLeft" data-wow-delay="0ms" data-wow-duration="2100ms">
                            <div class="icon-box"><i class="flaticon-brick-wall"></i></div>
                            <h4><a href="#">Full Security Barriers</a></h4>
                            <div class="text">Integrated security solutions always holds this principle of selection guards</div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 image-column">
                        <figure class="image-box wow zoomIn animated"><img src="images/resource/2.png" alt=""></figure>
                    </div>
                    <div class="col-lg-4 col-md-12 col-sm-12 right-column">
                        <div class="single-item wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                            <div class="icon-box"><i class="flaticon-siren"></i></div>
                            <h4><a href="#">Technical Security</a></h4>
                            <div class="text">Integrated security solutions always holds this principle of selection guards</div>
                        </div>
                        <div class="single-item wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1800ms">
                            <div class="icon-box"><i class="flaticon-scheme"></i></div>
                            <h4><a href="#">Crowd Management</a></h4>
                            <div class="text">Integrated security solutions always holds this principle of selection guards</div>
                        </div>
                        <div class="single-item wow fadeInRight" data-wow-delay="0ms" data-wow-duration="2100ms">
                            <div class="icon-box"><i class="flaticon-antivirus"></i></div>
                            <h4><a href="#">Threat Risk Protection</a></h4>
                            <div class="text">Integrated security solutions always holds this principle of selection guards</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- our-protection end -->


    <!-- form-section -->
    <section class="form-section" style="background-image: url(images/background/form-bg.jpg);">
        <div class="img-column wow slideInLeft" data-wow-delay="0ms" data-wow-duration="1500ms"></div>
        <div class="container">
            <div class="inner-content">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 offset-lg-3 form-column">
                        <div class="title-box centred">
                            <div class="form-title"><h2>Request ZEN for an Estimate</h2></div>
                            <div class="text">Survival strategies to ensure proactive domination </div>
                        </div>
                        <div class="form-content">
                            <form action="#" method="post">
                                <div class="row">
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="name" placeholder="Full Name" required="">
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <input type="Email" name="email" placeholder="Email" required="">
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="phone" placeholder="Phone" required="">
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="company" placeholder="Company" required="">
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="country" placeholder="State" required="">
                                    </div>
                                    <div class="col-lg-4 col-md-6 col-sm-12 form-group">
                                        <select class="custom-select-box">
                                            <option selected="selected">Security Service Needed</option>
                                            <option>Security Service Needed 02</option>
                                            <option>Security Service Needed 03</option>
                                            <option>Security Service Needed 04</option>
                                            <option>Security Service Needed 05</option>
                                        </select>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="message" placeholder="Detailed Message" required=""></textarea>
                                    </div>
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group centred wow slideInUp" data-wow-delay="0ms" data-wow-duration="1000ms">
                                        <button type="submit" class="btn-style-one">Send Inquiry</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="call-content centred">
                            <div class="call"><i class="fa fa-phone-volume"></i>Get Quick Response, Call Us <a href="tel:0800546432">0800 546 432</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- form-section end -->



    {% endblock content %}
   